.img.close {
    background-image: url("/img/close.png");
}

.img.searchButton {
    background: url("/img/search.png") no-repeat;
    background-size: contain;
    height: 28px;
    width: 36px;
}

.img.art {
    background-image: url("/img/sidebar/art.png");
}

.img.entertainment {
    background-image: url("/img/sidebar/entertainment.png");
}

.img.landmark {
    background-image: url("/img/sidebar/landmark.png");
}

.img.murale {
    background-image: url("/img/sidebar/murale.png");
}

.img.parks {
    background-image: url("/img/sidebar/parc.png");
}

.img.patrimoine {
    background-image: url("/img/sidebar/patrimoine.png");
}

.img.places {
    background-image: url("/img/sidebar/public.png");
}
