:root {
    --img-base: "/app/public/img/s";

    /* ---- COLOR PALETTE ---- */
    --color1: rgba(1, 22, 56, 1);
    --color2: rgba(54, 65, 86, 1);
    --color3: rgba(205, 205, 205, 1);
    --color4: rgba(223, 248, 235, 1);
    --color5: rgba(33, 78, 52, 1);

    /* ---- SCREEN RESOLUTIONS ---- */
    --low-res: 480px;
    --medium-res: 800px;
    --high-res: 1200px;

    /* ELEMENT SIZES */
    --menubar-height: 40px;
    --sidemenu-width: 50px;
    --menuElem-width: 80px;
    --menuElem-padding: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 100%;
}

.content {
    margin-left: var(--sidemenu-width);
}

.menubar {
    height: var(--menubar-height);
    background-color: var(--color1);
}

.menubar .title {
    float: left;
    display: inline-block;
    height: calc(100% - (2 * var(--menuElem-padding)));
    width: 120px;
    padding: var(--menuElem-padding);
}

.menubar .menuElem {
    display: inline-block;
    height: calc(100% - (2 * var(--menuElem-padding)));
    padding: var(--menuElem-padding);
    color: var(--color3);
}

.menubar .menuElem a {
    color: var(--color3);
}

a.menuElem.left {
    float: left;
}

a.menuElem.right {
    float: right;
}

.sidebar {
    float: left;
    height: 100%;
    width: var(--sidemenu-width);
    background-color: var(--color2);
}

.sidebar .sidebarBtn {
    height: 50px;
    width: 50px;
    margin: 0;
}

.sidebarBtn img.landmarks {
    background-image: "/static/img/landmark.png";
    height: 50px;
    width: 50px;
}

.sidebarBtn img.landmarks {
    background-image: "/static/img/landmark.png";
    height: 50px;
    width: 50px;
}

.sidebarBtn img.landmarks {
    background-image: "/static/img/landmark.png";
    height: 50px;
    width: 50px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover,
.offcanvas a:focus {
    color: var(--color3);
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    /* transition: margin-left .5s; */
    padding: 20px;
}

.testbar {
    position: absolute;
    right: 0px;
    top: 60px;
    height: 150px;
    width: 100px;
    background-color: var(--color5);
}

@media screen and (min-width: var(--mediumres)) {

}

@media screen and (min-width: var(--highres)) {
    /*
    :root {
        --menuBarHeight: 50px;
        --sideMenuWidth: 50px;
    }

    .content {
        margin-top: var(--menuBarHeight);
        margin-left: var(--sideMenuWidth);
    }

    .menubar {
        height: var(--menuBarHeight);
    }

    .menubar li {
        width: 80px;
        padding: 5px;
    }

    .sidebar {
        width: var(--sideMenuWidth);
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
    */
}
