
.img.landmarks {
    background-image: url("/static/img/landmark.png");
}

.img.parks {
    background-image: url("/static/img/parc.png");
}

.img.parkings {
    background-image: url("/static/img/parking.png");
}

.img.public {
    background-image: url("/static/img/public.png");
}

.img.library {
    background-image: url("/static/img/bibliotheque.png");
}

.img.patrimoine {
    background-image: url("/static/img/patrimoine.png");
}

.img.murale {
    background-image: url("/static/img/murale.png");
}

.img.art {
    background-image: url("/static/img/art.png");
}
