
.img.art {
    background-image: url("/static/img/art.png");
}

.img.entertainment {
    background-image: url("/static/img/entertainment.png");
}

.img.landmark {
    background-image: url("/static/img/landmark.png");
}

.img.library {
    background-image: url("/static/img/bibliotheque.png");
}

.img.murale {
    background-image: url("/static/img/murale.png");
}

.img.parkings {
    background-image: url("/static/img/parking.png");
}

.img.parks {
    background-image: url("/static/img/parc.png");
}

.img.patrimoine {
    background-image: url("/static/img/patrimoine.png");
}

.img.places {
    background-image: url("/static/img/public.png");
}

.addressButton {
    background: url(/static/img/search.png) no-repeat;
    background-size: contain;
}