.week.page-break {
  page-break-before: always; }

@page {
  size: landscape; }
div {
  overflow: visible !important;
  float: none !important; }

div.profile-photo {
  overflow: hidden !important;
  float: left !important; }

#top-bar.top-bar,
.side-panel.top-bar-side-panel,
#pop-up-hook,
#pop-up-wrap {
  display: none; }

#main-content {
  float: none !important;
  top: 0;
  width: 920px;
  overflow: visible; }
  #main-content .panel-menu-back,
  #main-content .panel-menu {
    display: none; }
  #main-content .content {
    float: none !important;
    margin-left: 0; }
    #main-content .content .calendar .today {
      background-color: transparent; }
      #main-content .content .calendar .today .date-number {
        border-color: #E0E0E0; }
        #main-content .content .calendar .today .date-number h1 {
          color: #E0E0E0; }
    #main-content .content .calendar .calendar-header {
      display: none; }
    #main-content .content .calendar .calendar-includer {
      float: none !important; }
      #main-content .content .calendar .calendar-includer .calendar-wrapper {
        float: none !important; }
        #main-content .content .calendar .calendar-includer .calendar-wrapper .month {
          float: none !important; }
          #main-content .content .calendar .calendar-includer .calendar-wrapper .month .week-numbers {
            width: 920px;
            position: fixed !important;
            top: 0;
            padding-right: 0; }
            #main-content .content .calendar .calendar-includer .calendar-wrapper .month .week-numbers .day {
              width: 107px;
              max-width: 107px;
              min-width: 107px; }
            #main-content .content .calendar .calendar-includer .calendar-wrapper .month .week-numbers .day.employee-cell-title {
              width: 165px;
              max-width: 165px;
              min-width: 165px;
              border-left: none; }
            #main-content .content .calendar .calendar-includer .calendar-wrapper .month .week-numbers .day.today {
              background-color: transparent;
              border-bottom: 4px solid #E0E0E0; }
          #main-content .content .calendar .calendar-includer .calendar-wrapper .month .employee-calendar-wrapper {
            float: none !important;
            margin-top: 42px;
            overflow: visible;
            width: 920px; }
            #main-content .content .calendar .calendar-includer .calendar-wrapper .month .employee-calendar-wrapper .week {
              float: none !important;
              width: 920px;
              padding-right: 0;
              border-bottom: 1px solid #E0E0E0;
              border-top: 1px solid #E0E0E0; }
              #main-content .content .calendar .calendar-includer .calendar-wrapper .month .employee-calendar-wrapper .week .day {
                width: 107px;
                max-width: 107px;
                min-width: 107px; }
                #main-content .content .calendar .calendar-includer .calendar-wrapper .month .employee-calendar-wrapper .week .day .day-shift .shift-content-back .shift-content {
                  color: #000000; }
                  #main-content .content .calendar .calendar-includer .calendar-wrapper .month .employee-calendar-wrapper .week .day .day-shift .shift-content-back .shift-content span {
                    font-size: 10px;
                    line-height: 12px; }
                #main-content .content .calendar .calendar-includer .calendar-wrapper .month .employee-calendar-wrapper .week .day i {
                  display: none; }
              #main-content .content .calendar .calendar-includer .calendar-wrapper .month .employee-calendar-wrapper .week .day.today {
                background-color: transparent;
                border-color: #E0E0E0; }
              #main-content .content .calendar .calendar-includer .calendar-wrapper .month .employee-calendar-wrapper .week .employee-cell {
                width: 165px;
                border-left: none; }
            #main-content .content .calendar .calendar-includer .calendar-wrapper .month .employee-calendar-wrapper .week.page-break {
              margin-top: 125px; }

/*# sourceMappingURL=print.css.map */
